<div class="container">
    <h1>about</h1>
    <div class="mb-5">
        <p><span class="d-none d-md-inline">..............</span>Hello, I'm <span class="highlight">Somdech</span><span class="d-none d-md-inline">..............</span></p>
        <p><span class="d-none d-md-inline">....</span>And I'm an awesome front end developer<span class="d-none d-md-inline">....</span></p>
        <p><span class="d-none d-md-inline">.....</span>who making code readable and pretty<span class="d-none d-md-inline">......</span></p>
    </div>
    <div class="mb-5">
        <h2>education</h2>
        <p><span class="highlight">2015</span> - BSc Software Engineering, Burapha University</p>
    </div>
    <div class="mb-5">
        <h2>work</h2>
        <p><span class="highlight">2014</span> - Internship Student, Thai Ocean Industries Co., Ltd. Bangkok</p>
        <p><span class="highlight">2016</span> - Frontend Developer, Design Sundae Co., Ltd. Bangkok</p>
    </div>
</div>
<!-- /.container -->