<div class="container">
    <h1>Contact</h1>
    <p>linkedin: <a href="https://www.linkedin.com/in/umdech" target="_blank">umdech</a></p>
    <p>phone: <a href="#" (click)="showPhoneNumber($event)" *ngIf="!isShowPhoneNumber">show me a phone number</a><a [href]="'tel:' + phoneNumber" *ngIf="isShowPhoneNumber">{{ phoneNumber }}</a></p>
    <p>email: <a href="mailto:n.somdech@gmail.com">email me</a></p>
    <p>cv: <a href="/assets/files/cv_2019.pdf" target="_blank">download</a></p>
</div>
<!-- /.container -->